doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(name="description", content= metaDescription)
        meta(name="author", content="")

        link(rel="shortcut icon", href="/assets/ico/favicon.ico")

        title= metaTitle

        //- Bootstrap core CSS
        link(href="/assets/css/bootstrap.min.css", rel="stylesheet")
        
        //- Custom styles for this template
        link(href="/assets/css/blog.css", rel="stylesheet")

        //- <!-- Just for debugging purposes. Don't actually copy this line! -->
        //- <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

        //- <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        //- <!--[if lt IE 9]>
        //-   <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        //-   <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        //- <![endif]-->
    body
        .blog-masthead
            .container
                nav.blog-nav
                    a.blog-nav-item(href="/", class=$if('active', context, '/')) Home
                    a.blog-nav-item(href="/about", class=$if('active', context, '/about')) About

        .container
            .blog-header
                h1.blog-title: a(href=url)= title
                p.lead.blog-description= description

            .row
                .col-sm-8.blog-main
                    block content
                    
                .col-sm-3.col-sm-offset-1.blog-sidebar
                    .sidebar-module.sidebar-module-inset
                        h4 About
                        p Etiam porta sem malesuada magna mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.
                    .sidebar-module.sidebar-module-inset
                        h4 Archives
                        ol.list-unstyled
                            li: a(href="/2014/02") February 2014
                            li: a(href="/2014/01") January 2014
                            li: a(href="/2013/12") December 2013
                            li: a(href="/2013/11") November 2013
                            li: a(href="/2013/10") October 2013
                    .sidebar-module.sidebar-module-inset
                        h4 Elsewhere
                        ol.list-unstyled
                            li: a(href="#") GitHub
                            li: a(href="#") Twitter
                            li: a(href="#") Facebook

        .blog-footer
            p!= copyright
            p: a(href="#") Back to top

        //- Bootstrap core JavaScript
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js")
        script(src="/assets/js/bootstrap.min.js")
        script(src="/assets/js/docs.min.js")