extends layout

block content
    .blog-post(itemscope, itemtype="http://schema.org/BlogPosting")
        h2.blog-post-title(itemprop="name")= post.title
        p &nbsp;

        section(itemprop="description articleBody")!= post.content