extends layout

block content
    .blog-post
        h2.blog-post-title= post.title
        p.blog-post-meta 
            = $date(post, 'MMMM DD, YYYY')
            |  by  
            a(href="#")= post.author.name

        != post.content