extends layout

block content
    .blog-post(itemscope, itemtype="http://schema.org/BlogPosting")
        h2.blog-post-title(itemprop="name")= post.title
        p.blog-post-meta 
            time(datetime=$date(post), itemprop="datePublished")= $date(post, 'MMMM DD, YYYY')
            |  by  
            a(itemprop="author", href="#")= post.author.name

        section(itemprop="description articleBody")!= post.content